config.json
Build.exe
Build
BuildData
date_images
Search
cards.bin
cards.strings.bin
eng.traineddata
run
token.json
.history
.vscode
ocr_debug/*
dist/*
node_modules
*.exe
tmp/*
*.bat
config.json
ids.json
datecd.json
