config.json
Build.exe
Build
BuildData
date_images
Search
cards.bin
cards.strings.bin
eng.traineddata
run
token.json
.history
.vscode
ocr_debug/*
dist/*
node_modules
*.exe
tmp/*
*.bat
config.json
ids.json
datecd.json
stable_diffision/Vorschau_45340_Klausuren_Mathematik_fuer_die_Jahrgangsstufe_11_im_kostenguenstigen_Paket.pdf
stable_diffision/stable-diffusion/.dockerignore
stable_diffision/stable-diffusion/docker-bootstrap.sh
stable_diffision/stable-diffusion/docker-compose.yml
stable_diffision/stable-diffusion/Dockerfile
stable_diffision/stable-diffusion/environment.yaml
stable_diffision/stable-diffusion/LICENSE
stable_diffision/stable-diffusion/main.py
stable_diffision/stable-diffusion/notebook_helpers.py
stable_diffision/stable-diffusion/README.md
stable_diffision/stable-diffusion/setup.py
stable_diffision/stable-diffusion/Stable_Diffusion_v1_Model_Card.md
stable_diffision/stable-diffusion/.github/FUNDING.yml
stable_diffision/stable-diffusion/assets/a-painting-of-a-fire.png
stable_diffision/stable-diffusion/assets/a-photograph-of-a-fire.png
stable_diffision/stable-diffusion/assets/a-shirt-with-a-fire-printed-on-it.png
stable_diffision/stable-diffusion/assets/a-shirt-with-the-inscription-'fire'.png
stable_diffision/stable-diffusion/assets/a-watercolor-painting-of-a-fire.png
stable_diffision/stable-diffusion/assets/birdhouse.png
stable_diffision/stable-diffusion/assets/fire.png
stable_diffision/stable-diffusion/assets/inpainting.png
stable_diffision/stable-diffusion/assets/modelfigure.png
stable_diffision/stable-diffusion/assets/rdm-preview.jpg
stable_diffision/stable-diffusion/assets/reconstruction1.png
stable_diffision/stable-diffusion/assets/reconstruction2.png
stable_diffision/stable-diffusion/assets/results.gif
stable_diffision/stable-diffusion/assets/the-earth-is-on-fire,-oil-on-canvas.png
stable_diffision/stable-diffusion/assets/txt2img-convsample.png
stable_diffision/stable-diffusion/assets/txt2img-preview.png
stable_diffision/stable-diffusion/assets/v1-variants-scores.jpg
stable_diffision/stable-diffusion/assets/stable-samples/img2img/mountains-1.png
stable_diffision/stable-diffusion/assets/stable-samples/img2img/mountains-2.png
stable_diffision/stable-diffusion/assets/stable-samples/img2img/mountains-3.png
stable_diffision/stable-diffusion/assets/stable-samples/img2img/sketch-mountains-input.jpg
stable_diffision/stable-diffusion/assets/stable-samples/img2img/upscaling-in.png
stable_diffision/stable-diffusion/assets/stable-samples/img2img/upscaling-out.png
stable_diffision/stable-diffusion/assets/stable-samples/txt2img/000002025.png
stable_diffision/stable-diffusion/assets/stable-samples/txt2img/000002035.png
stable_diffision/stable-diffusion/assets/stable-samples/txt2img/merged-0005.png
stable_diffision/stable-diffusion/assets/stable-samples/txt2img/merged-0006.png
stable_diffision/stable-diffusion/assets/stable-samples/txt2img/merged-0007.png
stable_diffision/stable-diffusion/configs/autoencoder/autoencoder_kl_8x8x64.yaml
stable_diffision/stable-diffusion/configs/autoencoder/autoencoder_kl_16x16x16.yaml
stable_diffision/stable-diffusion/configs/autoencoder/autoencoder_kl_32x32x4.yaml
stable_diffision/stable-diffusion/configs/autoencoder/autoencoder_kl_64x64x3.yaml
stable_diffision/stable-diffusion/configs/latent-diffusion/celebahq-ldm-vq-4.yaml
stable_diffision/stable-diffusion/configs/latent-diffusion/cin-ldm-vq-f8.yaml
stable_diffision/stable-diffusion/configs/latent-diffusion/cin256-v2.yaml
stable_diffision/stable-diffusion/configs/latent-diffusion/ffhq-ldm-vq-4.yaml
stable_diffision/stable-diffusion/configs/latent-diffusion/lsun_bedrooms-ldm-vq-4.yaml
stable_diffision/stable-diffusion/configs/latent-diffusion/lsun_churches-ldm-kl-8.yaml
stable_diffision/stable-diffusion/configs/latent-diffusion/txt2img-1p4B-eval.yaml
stable_diffision/stable-diffusion/configs/retrieval-augmented-diffusion/768x768.yaml
stable_diffision/stable-diffusion/configs/stable-diffusion/v1-inference.yaml
stable_diffision/stable-diffusion/data/DejaVuSans.ttf
stable_diffision/stable-diffusion/data/imagenet_clsidx_to_label.txt
stable_diffision/stable-diffusion/data/imagenet_train_hr_indices.p
stable_diffision/stable-diffusion/data/imagenet_val_hr_indices.p
stable_diffision/stable-diffusion/data/index_synset.yaml
stable_diffision/stable-diffusion/data/example_conditioning/superresolution/sample_0.jpg
stable_diffision/stable-diffusion/data/example_conditioning/text_conditional/sample_0.txt
stable_diffision/stable-diffusion/data/inpainting_examples/6458524847_2f4c361183_k_mask.png
stable_diffision/stable-diffusion/data/inpainting_examples/6458524847_2f4c361183_k.png
stable_diffision/stable-diffusion/data/inpainting_examples/8399166846_f6fb4e4b8e_k_mask.png
stable_diffision/stable-diffusion/data/inpainting_examples/8399166846_f6fb4e4b8e_k.png
stable_diffision/stable-diffusion/data/inpainting_examples/alex-iby-G_Pk4D9rMLs_mask.png
stable_diffision/stable-diffusion/data/inpainting_examples/alex-iby-G_Pk4D9rMLs.png
stable_diffision/stable-diffusion/data/inpainting_examples/bench2_mask.png
stable_diffision/stable-diffusion/data/inpainting_examples/bench2.png
stable_diffision/stable-diffusion/data/inpainting_examples/bertrand-gabioud-CpuFzIsHYJ0_mask.png
stable_diffision/stable-diffusion/data/inpainting_examples/bertrand-gabioud-CpuFzIsHYJ0.png
stable_diffision/stable-diffusion/data/inpainting_examples/billow926-12-Wc-Zgx6Y_mask.png
stable_diffision/stable-diffusion/data/inpainting_examples/billow926-12-Wc-Zgx6Y.png
stable_diffision/stable-diffusion/data/inpainting_examples/overture-creations-5sI6fQgYIuo_mask.png
stable_diffision/stable-diffusion/data/inpainting_examples/overture-creations-5sI6fQgYIuo.png
stable_diffision/stable-diffusion/data/inpainting_examples/photo-1583445095369-9c651e7e5d34_mask.png
stable_diffision/stable-diffusion/data/inpainting_examples/photo-1583445095369-9c651e7e5d34.png
stable_diffision/stable-diffusion/ldm/lr_scheduler.py
stable_diffision/stable-diffusion/ldm/util.py
stable_diffision/stable-diffusion/ldm/__pycache__/util.cpython-38.pyc
stable_diffision/stable-diffusion/ldm/data/__init__.py
stable_diffision/stable-diffusion/ldm/data/base.py
stable_diffision/stable-diffusion/ldm/data/imagenet.py
stable_diffision/stable-diffusion/ldm/data/lsun.py
stable_diffision/stable-diffusion/ldm/models/autoencoder.py
stable_diffision/stable-diffusion/ldm/models/__pycache__/autoencoder.cpython-38.pyc
stable_diffision/stable-diffusion/ldm/models/diffusion/__init__.py
stable_diffision/stable-diffusion/ldm/models/diffusion/classifier.py
stable_diffision/stable-diffusion/ldm/models/diffusion/ddim.py
stable_diffision/stable-diffusion/ldm/models/diffusion/ddpm.py
stable_diffision/stable-diffusion/ldm/models/diffusion/plms.py
stable_diffision/stable-diffusion/ldm/modules/attention.py
stable_diffision/stable-diffusion/ldm/modules/ema.py
stable_diffision/stable-diffusion/ldm/modules/x_transformer.py
stable_diffision/stable-diffusion/ldm/modules/__pycache__/attention.cpython-38.pyc
stable_diffision/stable-diffusion/ldm/modules/__pycache__/x_transformer.cpython-38.pyc
stable_diffision/stable-diffusion/ldm/modules/diffusionmodules/__init__.py
stable_diffision/stable-diffusion/ldm/modules/diffusionmodules/model.py
stable_diffision/stable-diffusion/ldm/modules/diffusionmodules/openaimodel.py
stable_diffision/stable-diffusion/ldm/modules/diffusionmodules/util.py
stable_diffision/stable-diffusion/ldm/modules/diffusionmodules/__pycache__/__init__.cpython-38.pyc
stable_diffision/stable-diffusion/ldm/modules/diffusionmodules/__pycache__/model.cpython-38.pyc
stable_diffision/stable-diffusion/ldm/modules/diffusionmodules/__pycache__/util.cpython-38.pyc
stable_diffision/stable-diffusion/ldm/modules/distributions/__init__.py
stable_diffision/stable-diffusion/ldm/modules/distributions/distributions.py
stable_diffision/stable-diffusion/ldm/modules/distributions/__pycache__/__init__.cpython-38.pyc
stable_diffision/stable-diffusion/ldm/modules/distributions/__pycache__/distributions.cpython-38.pyc
stable_diffision/stable-diffusion/ldm/modules/encoders/__init__.py
stable_diffision/stable-diffusion/ldm/modules/encoders/modules.py
stable_diffision/stable-diffusion/ldm/modules/encoders/__pycache__/__init__.cpython-38.pyc
stable_diffision/stable-diffusion/ldm/modules/encoders/__pycache__/modules.cpython-38.pyc
stable_diffision/stable-diffusion/ldm/modules/image_degradation/__init__.py
stable_diffision/stable-diffusion/ldm/modules/image_degradation/bsrgan_light.py
stable_diffision/stable-diffusion/ldm/modules/image_degradation/bsrgan.py
stable_diffision/stable-diffusion/ldm/modules/image_degradation/utils_image.py
stable_diffision/stable-diffusion/ldm/modules/image_degradation/utils/test.png
stable_diffision/stable-diffusion/ldm/modules/losses/__init__.py
stable_diffision/stable-diffusion/ldm/modules/losses/contperceptual.py
stable_diffision/stable-diffusion/ldm/modules/losses/vqperceptual.py
stable_diffision/stable-diffusion/logs/txt2img_logs.csv
stable_diffision/stable-diffusion/models/first_stage_models/kl-f16/config.yaml
stable_diffision/stable-diffusion/models/first_stage_models/kl-f32/config.yaml
stable_diffision/stable-diffusion/models/first_stage_models/kl-f4/config.yaml
stable_diffision/stable-diffusion/models/first_stage_models/kl-f8/config.yaml
stable_diffision/stable-diffusion/models/first_stage_models/vq-f16/config.yaml
stable_diffision/stable-diffusion/models/first_stage_models/vq-f4/config.yaml
stable_diffision/stable-diffusion/models/first_stage_models/vq-f4-noattn/config.yaml
stable_diffision/stable-diffusion/models/first_stage_models/vq-f8/config.yaml
stable_diffision/stable-diffusion/models/first_stage_models/vq-f8-n256/config.yaml
stable_diffision/stable-diffusion/models/ldm/bsr_sr/config.yaml
stable_diffision/stable-diffusion/models/ldm/celeba256/config.yaml
stable_diffision/stable-diffusion/models/ldm/cin256/config.yaml
stable_diffision/stable-diffusion/models/ldm/ffhq256/config.yaml
stable_diffision/stable-diffusion/models/ldm/inpainting_big/config.yaml
stable_diffision/stable-diffusion/models/ldm/layout2img-openimages256/config.yaml
stable_diffision/stable-diffusion/models/ldm/lsun_beds256/config.yaml
stable_diffision/stable-diffusion/models/ldm/lsun_churches256/config.yaml
stable_diffision/stable-diffusion/models/ldm/semantic_synthesis256/config.yaml
stable_diffision/stable-diffusion/models/ldm/semantic_synthesis512/config.yaml
stable_diffision/stable-diffusion/models/ldm/stable-diffusion-v1/model.ckpt
stable_diffision/stable-diffusion/models/ldm/text2img256/config.yaml
stable_diffision/stable-diffusion/optimizedSD/ddpm.py
stable_diffision/stable-diffusion/optimizedSD/diffusers_txt2img.py
stable_diffision/stable-diffusion/optimizedSD/img2img_gradio.py
stable_diffision/stable-diffusion/optimizedSD/inpaint_gradio.py
stable_diffision/stable-diffusion/optimizedSD/LICENSE
stable_diffision/stable-diffusion/optimizedSD/openaimodelSplit.py
stable_diffision/stable-diffusion/optimizedSD/optimized_img2img.py
stable_diffision/stable-diffusion/optimizedSD/optimized_txt2img.py
stable_diffision/stable-diffusion/optimizedSD/optimUtils.py
stable_diffision/stable-diffusion/optimizedSD/splitAttention.py
stable_diffision/stable-diffusion/optimizedSD/txt2img_gradio.py
stable_diffision/stable-diffusion/optimizedSD/v1-inference.yaml
stable_diffision/stable-diffusion/optimizedSD/__pycache__/ddpm.cpython-38.pyc
stable_diffision/stable-diffusion/optimizedSD/__pycache__/openaimodelSplit.cpython-38.pyc
stable_diffision/stable-diffusion/optimizedSD/__pycache__/optimUtils.cpython-38.pyc
stable_diffision/stable-diffusion/optimizedSD/__pycache__/splitAttention.cpython-38.pyc
stable_diffision/stable-diffusion/scripts/download_first_stages.sh
stable_diffision/stable-diffusion/scripts/download_models.sh
stable_diffision/stable-diffusion/scripts/img2img.py
stable_diffision/stable-diffusion/scripts/inpaint.py
stable_diffision/stable-diffusion/scripts/knn2img.py
stable_diffision/stable-diffusion/scripts/latent_imagenet_diffusion.ipynb
stable_diffision/stable-diffusion/scripts/sample_diffusion.py
stable_diffision/stable-diffusion/scripts/train_searcher.py
stable_diffision/stable-diffusion/scripts/txt2img.py
tokens.json
char_data.json
char_data.json
